<section class="code-box" [ngClass]="{ expand: nzExpanded }" [attr.id]="nzId">
  <section class="code-box-demo">
    <div
      *ngIf="!showIframe"
      [class.simulate-iframe]="simulateIFrame"
      [class.browser-mockup]="simulateIFrame"
      [class.with-url]="simulateIFrame"
      [style.height.px]="simulateIFrame && nzIframeHeight"
    >
      <ng-content select="[demo]"></ng-content>
    </div>
<!--    <div class="browser-mockup with-url" *ngIf="showIframe">-->
<!--      <iframe [src]="iframe" [height]="nzIframeHeight" title="demo"></iframe>-->
<!--    </div>-->
  </section>
  <section class="code-box-meta markdown">
<!--    <div class="code-box-description">-->
<!--      <ng-content select="[intro]"></ng-content>-->
<!--    </div>-->
    <div class="code-box-actions">
      <span
        [nzTooltipTitle]="!onlineIDELoading ?'Edit On CodeSandbox':'Loading...'"
        nz-tooltip
        nz-icon
        nzType="code-sandbox"
        class="code-box-code-copy"
        (click)="openOnlineIDE('CodeSandbox')"
      ></span>
      <span
        [nzTooltipTitle]="!onlineIDELoading ?'Edit On StackBlitz':'Loading...'"
        nz-tooltip
        nz-icon
        nzType="thunderbolt"
        nzTheme="fill"
        class="code-box-code-copy"
        (click)="openOnlineIDE()"
      ></span>
      <span
        [nzTooltipTitle]="!copyLoading ?'Copy Code' :'Loading...'"
        nz-tooltip
        nz-icon
        [nzType]="copied ? 'check' : 'snippets'"
        class="code-box-code-copy"
        [class.ant-tooltip-open]="copied"
        (click)="copyCode()"
      ></span>
      <span class="code-expand-icon"
            nz-tooltip
            [nzTooltipTitle]="nzExpanded ? 'Hide Code': 'Show Code'"
            (click)="expandCode(!nzExpanded)">
        <ng-container [ngSwitch]="theme">
          <ng-container *ngSwitchCase="'dark'">
              <img
                alt="expand code"
                src="https://gw.alipayobjects.com/zos/antfincdn/btT3qDZn1U/wSAkBuJFbdxsosKKpqyq.svg"
                [class.code-expand-icon-show]="nzExpanded"
                [class.code-expand-icon-hide]="!nzExpanded"
              />
              <img
                alt="expand code"
                src="https://gw.alipayobjects.com/zos/antfincdn/CjZPwcKUG3/OpROPHYqWmrMDBFMZtKF.svg"
                [class.code-expand-icon-show]="!nzExpanded"
                [class.code-expand-icon-hide]="nzExpanded"
              />
          </ng-container>
          <ng-container *ngSwitchDefault>
             <img
               alt="expand code"
               src="https://gw.alipayobjects.com/zos/rmsportal/wSAkBuJFbdxsosKKpqyq.svg"
               [class.code-expand-icon-show]="nzExpanded"
               [class.code-expand-icon-hide]="!nzExpanded"
             />
              <img
                alt="expand code"
                src="https://gw.alipayobjects.com/zos/rmsportal/OpROPHYqWmrMDBFMZtKF.svg"
                [class.code-expand-icon-show]="!nzExpanded"
                [class.code-expand-icon-hide]="nzExpanded"
              />
          </ng-container>
        </ng-container>

      </span>
    </div>
  </section>
  <section class="highlight-wrapper" [ngClass]="{ 'highlight-wrapper-expand': nzExpanded }">
    <div class="highlight">
      <ng-content select="[code]"></ng-content>
      <app-highlight [appCode]="codeLoaded ? highlightCode! :'Loading...'"
                    [appLanguage]="'typescript'">
      </app-highlight>
    </div>
  </section>
</section>
