@import '../../../../../assets/styles/variables.scss';


.agreement-box{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  font-size: 11px;
  color: white;
  align-items: flex-start;
  justify-content: flex-start;
  a{
    color: var(--action-color)
  }
}
input[type=checkbox] {
  accent-color: var(--action-color)
}
