@import '../../../../../assets/styles/variables.scss';

.bn-notify-notification {
  --backround-color: var(--account-center-minimized-background, var(--b-ee-background-color, white));
  --text-color:  var(--b-ee-text-color, var(--gray-700));
  --border-color: var(--b-ee-border-color, var(--b-ee-border-color, var(--b-ee-gray-200, var(--gray-200))));
  font-family: inherit;
  transition: background 300ms ease-in-out, color 300ms ease-in-out;
  pointer-events: all;
  backdrop-filter: blur(5px);
  width: 100%;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: var(
      --notify-b-ee-border-radius,
      var(--border-radius-3, var(--border-radius-3))
  );
  background: var(--backround-color);
  color: var(--text-color);
}

.bn-notify-notification-inner {
  overflow-wrap: anywhere;
  padding: 0.75rem;
}

.bn-notify-notification:hover
> div.bn-notify-notification-inner
> div.notify-close-btn-desktop {
  visibility: visible;
  opacity: 1;
}

div.notify-close-btn {
  margin-left: auto;
  margin-bottom: auto;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
}

div.notify-close-btn-desktop {
  visibility: hidden;
  transition: visibility 0.15s linear, opacity 0.15s linear;
  opacity: 0;
}

.notify-close-btn .close-icon {
  cursor: pointer;
  width: 20px;
  margin: auto;
  color: var(--text-color);
}

.notify-close-btn > .close-icon {
  color: var(--notify-b-ee-close-icon-color);
}

.notify-close-btn:hover > .close-icon {
  color: var(--notify-b-ee-close-icon-hover);
}

.transaction-status {
  color: var(
      --notify-b-ee-transaction-status-color,
      var(--b-ee-primary-100, var(--primary-100))
  );
  line-height: 14px;
}

.dropdown {
  height: 0px;
  overflow: hidden;
  transition: height 150ms ease-in-out;
}

.dropdown-visible {
  height: 48px;
}


