<article class="markdown">
  <section class="header-section-box">
    <div class="header-section home-container">
      <div class="header-section-row">
        <h2>Web3 Connect</h2>
        <h4>This open-source Angular library facilitates the connection between users and web3 applications, making it easier for them to engage in transactions seamlessly.
          This library enhances the user experience and simplifies the process of interacting with web3 applications.</h4>
        <div class="header-section-btn-row">
          <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round" (click)="scrollTo(getStarted)">
            Get Started
          </button>
          <button [routerLink]="['docs', 'introduction']"  nz-button nzType="default" [nzSize]="'large'" nzShape="round">
            View Docs
          </button>
        </div>
      </div>
      <ng-container *ngIf="this.appService.theme$ | async as theme">
        <img *ngIf="theme === 'dark'" nz-image class="header-section-img" nzSrc="assets/images/app-group-dark.svg" alt="main-img" />
        <img *ngIf="theme === 'light'" nz-image class="header-section-img" nzSrc="assets/images/app-group-light.svg" alt="main-img" />
      </ng-container>
    </div>
  </section>

  <section id="install-section"  class="install-section">
    <nz-tabset class="install-section-box home-container" nzType="card">
      <nz-tab *ngFor="let tab of ['Npm', 'Yarn']" [nzTitle]="tab">
        <pre *ngIf="tab === 'Npm'" class="language-bash"><code>$ npm install @b-ee/web3-connect</code></pre>
        <pre *ngIf="tab === 'Yarn'" class="language-bash"><code>$ yarn add @b-ee/web3-connect</code></pre>
      </nz-tab>
    </nz-tabset>
  </section>

  <section id="services-section" class="services-section">
    <div class="services-section-box home-container">
      <nz-list nzGrid>
        <div nz-row [nzGutter]="24">
          <div nz-col [nzXXl]="6" [nzXl]="6" [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXs]="24">
            <nz-list-item>
              <nz-card class="service-card" [nzTitle]="'Minimal Dependencies'">
                All wallet dependencies are included in separate packages, so you only include the ones you want to use in your app.
                Core package is only 815kb minified.
              </nz-card>
            </nz-list-item>
          </div>
          <div nz-col [nzXXl]="6" [nzXl]="6"  [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXs]="24">
            <nz-list-item>
              <nz-card class="service-card" [nzTitle]="'Dynamic Imports'">
                Supporting multiple wallets in your app requires a lot of dependencies.
                Onboard dynamically imports a wallet and it's dependencies only when the user selects it, so that minimal bandwidth is used.
              </nz-card>
            </nz-list-item>
          </div>
          <div nz-col [nzXXl]="6" [nzXl]="6"  [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXs]="24">
            <nz-list-item>
              <nz-card class="service-card" [nzTitle]="'Wallet Provider Standardization'">
                All wallet modules expose a provider that is patched to be compliant with the EIP-1193, EIP-1102,
                EIP-3085 and EIP-3326 specifications.
              </nz-card>
            </nz-list-item>
          </div>
          <div nz-col [nzXXl]="6" [nzXl]="6"  [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXs]="24">
            <nz-list-item>
              <nz-card class="service-card" [nzTitle]="'Multiple Chain Support'">
                The best connect wallet button for allowing users to switch between chains/networks with ease.
              </nz-card>
            </nz-list-item>
          </div>
        </div>
      </nz-list>
    </div>
  </section>


  <section id="chain-section" class="chain-section">
    <div class="chain-section-box home-container">
      <nz-list nzItemLayout="vertical">
        <nz-list-item >
          <div class="chain-section-content">
            <nz-list-item-meta>
              <nz-list-item-meta-title>
                <h1>Enable Multi-Wallet and Multi-Chain functionality with one library</h1>
              </nz-list-item-meta-title>
              <nz-list-item-meta-description>
                Enable Multi-Wallet and Multi-Chain functionality with one library
              </nz-list-item-meta-description>
            </nz-list-item-meta>
            Web3 Onboard is the quickest and easiest way to add multi-wallet and multi-chain support to your project.
            With built-in modules for more than 35 unique hardware and software wallets, Web3 Onboard saves you time and headaches.
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <a class="chain-section-action" [routerLink]=""></a>
                Learn More
              </nz-list-item-action>
              <nz-list-item-action>
                <a class="chain-section-action" [routerLink]="" ></a>
                View Demo
              </nz-list-item-action>
            </ul>
          </div>

          <nz-list-item-extra class="flex">
            <img src="assets/images/networks-graphic.svg" />
          </nz-list-item-extra>
        </nz-list-item>
      </nz-list>
    </div>
  </section>

  <section class="chain-section">
    <div class="home-container">
      <div id="network-chain-carousel" class="network-chain-carousel">
        <div class="carousel-cell"><img height="80px" width="200px" [src]="'assets/images/networks/network-'+1+'.svg'" alt="1" /></div>
        <div class="carousel-cell"><img height="80px" width="200px" [src]="'assets/images/networks/network-'+2+'.svg'" alt="2" /></div>
        <div class="carousel-cell"><img height="80px" width="200px" [src]="'assets/images/networks/network-'+3+'.svg'" alt="3" /></div>
        <div class="carousel-cell"><img height="80px" width="200px" [src]="'assets/images/networks/network-'+4+'.svg'" alt="4" /></div>
        <div class="carousel-cell"><img height="80px" width="200px" [src]="'assets/images/networks/network-'+5+'.svg'" alt="5" /></div>
        <div class="carousel-cell"><img height="80px" width="200px" [src]="'assets/images/networks/network-'+6+'.svg'" alt="6" /></div>
        <div class="carousel-cell"><img height="80px" width="200px" [src]="'assets/images/networks/network-'+7+'.svg'" alt="7" /></div>
        <div class="carousel-cell"><img height="80px" width="200px" [src]="'assets/images/networks/network-'+8+'.svg'" alt="8" /></div>
        <div class="carousel-cell"><img height="80px" width="200px" [src]="'assets/images/networks/network-'+9+'.svg'" alt="9" /></div>
      </div>
    </div>
  </section>

  <section class="chain-section">
    <div class="chain-section-box home-container">
      <nz-list nzItemLayout="vertical">
        <nz-list-item class="row-reverse">
          <div class="chain-section-content" style="margin-left: 50px;">
            <nz-list-item-meta>
              <nz-list-item-meta-title>
                <h1>Real-time transaction notifications</h1>
              </nz-list-item-meta-title>
              <nz-list-item-meta-description>
                Real-time transaction notifications
              </nz-list-item-meta-description>
            </nz-list-item-meta>
            Real-time transaction notifications for all connected wallet addresses and all transaction states.
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <a class="chain-section-action" [routerLink]=""></a>
                Learn More
              </nz-list-item-action>
              <nz-list-item-action>
                <a class="chain-section-action" [routerLink]="" ></a>
                View Demo
              </nz-list-item-action>
            </ul>
          </div>
          <nz-list-item-extra class="flex" style="margin-left: 0">
            <img style="max-width: 100%" src="assets/images/notifications.svg" />
          </nz-list-item-extra>
        </nz-list-item>
      </nz-list>
    </div>
  </section>

  <section class="chain-section">
    <div class="chain-section-box home-container">
      <nz-list nzItemLayout="vertical">
        <nz-list-item >
          <div class="chain-section-content">
            <nz-list-item-meta>
              <nz-list-item-meta-title>
                <h1>Account Center</h1>
              </nz-list-item-meta-title>
              <nz-list-item-meta-description>
                Multiple Wallets and Accounts Connection:
              </nz-list-item-meta-description>
            </nz-list-item-meta>
            Allow your users to connect multiple wallets and multiple accounts within each wallet at the same time to your dapp.
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <a class="chain-section-action" [routerLink]=""></a>
                Learn More
              </nz-list-item-action>
              <nz-list-item-action>
                <a class="chain-section-action" [routerLink]="" ></a>
                View Demo
              </nz-list-item-action>
            </ul>
          </div>

          <nz-list-item-extra class="flex">
            <img src="assets/images/account-center-1.svg" />
          </nz-list-item-extra>
        </nz-list-item>
      </nz-list>
    </div>
  </section>

  <section id="themeable-section" class="themeable-section">
    <div class="themeable-section-box home-container">
      <nz-list nzItemLayout="vertical">
        <nz-list-item class="row-reverse">
          <div class="chain-section-content" style="margin-left: 50px;">
            <nz-list-item-meta>
              <nz-list-item-meta-title>
                <h1>Themeable</h1>
              </nz-list-item-meta-title>
              <nz-list-item-meta-description>
                Powerful customization options for all your needs
              </nz-list-item-meta-description>
            </nz-list-item-meta>
            Style Web3 Connect to fit into your existing designs, or pick from our pre-made themes.
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <a class="chain-section-action" [routerLink]=""></a>
                Learn More
              </nz-list-item-action>
              <nz-list-item-action>
                <a class="chain-section-action" [routerLink]="" ></a>
                View Demo
              </nz-list-item-action>
            </ul>
          </div>
          <nz-list-item-extra class="flex" style="margin-left: 0">
            <app-highlight [appCode]="themeableHTML" [appLanguage]="'language-css'"></app-highlight>
          </nz-list-item-extra>
        </nz-list-item>
      </nz-list>
    </div>
  </section>

  <section #getStarted id="get-started-section" class="get-started-section-box">
    <div class="get-started-section home-container">
      <div class="get-started-section-row">
        <h2>Getting Started</h2>
        <h3>Installation</h3>
        <h4>Install the core Onboard library and the injected wallets module to support browser extension and mobile wallets:</h4>
        <nz-tabset style="width: 100%" nzType="card">
          <nz-tab *ngFor="let tab of ['Npm', 'Yarn']" [nzTitle]="tab">
            <pre *ngIf="tab === 'Npm'" class="language-bash"><code>$ npm install @b-ee/web3-connect</code></pre>
            <pre *ngIf="tab === 'Yarn'" class="language-bash"><code>$ yarn add @b-ee/web3-connect</code></pre>
          </nz-tab>
        </nz-tabset>
        <p>Import the component modules you want to use into your <code>app.module.ts</code> file and <a
          href="https://angular.io/guide/feature-modules" target="_blank" rel="noopener">feature modules</a>.</p>
        <app-highlight style="width: 100%" [appCode]="importModuleHTML" [appLanguage]="'language-typescript'"></app-highlight>

        <p>Then initialize in your app:</p>
        <app-highlight style="width: 100%" [appCode]="initializeAppHTML" [appLanguage]="'language-typescript'"></app-highlight>

      </div>
    </div>

  </section>

</article>



