<article class="markdown">
  <h1>HomeComponent</h1>
<!--  <section class="markdown" ngNonBindable>-->
<!--    <p>Easy way to connect users to Decentralized Applications.</p>-->
<!--    <div class="pic-plus">-->
<!--      <img alt="Ant Design" width="150" height="150" src="https://img.alicdn.com/tfs/TB1g.mWZAL0gK0jSZFtXXXQCXXa-200-200.svg">-->
<!--      <span>+</span>-->
<!--      <img alt="Angular" width="140" height="150" src="https://img.alicdn.com/tfs/TB1Z0PywTtYBeNjy1XdXXXXyVXa-186-200.svg">-->
<!--    </div>-->

<!--    <h2 id="features"><span>Features</span><a onclick="window.location.hash = 'features'" class="anchor">#</a></h2><ul>-->
<!--      <li>An enterprise-class UI design language for Angular applications.</li>-->
<!--      <li>60+ high-quality Angular components out of the box.</li>-->
<!--      <li>Written in TypeScript with complete defined types.</li>-->
<!--      <li>Support OnPush mode, high performance.</li>-->
<!--      <li>Powerful theme customization in every detail.</li>-->
<!--      <li>Internationalization support for dozens of languages.</li>-->
<!--    </ul>-->
<!--    <h2 id="environment-support"><span>Environment Support</span><a onclick="window.location.hash = 'environment-support'" class="anchor">#</a></h2><ul>-->
<!--      <li>Modern browsers, <a href="https://angular.io/guide/browser-support" target="_blank" rel="noopener">Browser support</a></li>-->
<!--      <li>Server-side Rendering</li>-->
<!--      <li><a href="https://electron.atom.io/" target="_blank" rel="noopener">Electron</a></li>-->
<!--    </ul>-->
<!--    <table>-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th><a href="https://godban.github.io/browsers-support-badges//" target="_blank" rel="noopener"><img src="https://img.alicdn.com/tfs/TB1G5ewZuL2gK0jSZPhXXahvXXa-48-48.png" alt="IE / Edge" width="24px" height="24px"></a><br>IE / Edge</th>-->
<!--        <th><a href="https://godban.github.io/browsers-support-badges/" target="_blank" rel="noopener"><img src="https://img.alicdn.com/tfs/TB1Dx73o79l0K4jSZFKXXXFjpXa-48-48.png" alt="Firefox" width="24px" height="24px"></a><br>Firefox</th>-->
<!--        <th><a href="https://godban.github.io/browsers-support-badges/" target="_blank" rel="noopener"><img src="https://img.alicdn.com/tfs/TB1mY9FZrr1gK0jSZFDXXb9yVXa-48-48.png" alt="Chrome" width="24px" height="24px"></a><br>Chrome</th>-->
<!--        <th><a href="https://godban.github.io/browsers-support-badges/" target="_blank" rel="noopener"><img src="https://img.alicdn.com/tfs/TB1Vas5o79l0K4jSZFKXXXFjpXa-48-48.png" alt="Safari" width="24px" height="24px"></a><br>Safari</th>-->
<!--        <th><a href="https://godban.github.io/browsers-support-badges/" target="_blank" rel="noopener"><img src="https://img.alicdn.com/tfs/TB12EmNZET1gK0jSZFrXXcNCXXa-48-48.png" alt="Opera" width="24px" height="24px"></a><br>Opera</th>-->
<!--        <th><a href="https://godban.github.io/browsers-support-badges/" target="_blank" rel="noopener"><img src="https://img.alicdn.com/tfs/TB1TMW8paNj0u4jSZFyXXXgMVXa-48-48.png" alt="Electron" width="24px" height="24px"></a><br>Electron</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody><tr>-->
<!--        <td>Edge</td>-->
<!--        <td>last 2 versions</td>-->
<!--        <td>last 2 versions</td>-->
<!--        <td>last 2 versions</td>-->
<!--        <td>last 2 versions</td>-->
<!--        <td>last 2 versions</td>-->
<!--      </tr>-->
<!--      </tbody></table>-->
<!--    <h2 id="version"><span>Version</span><a onclick="window.location.hash = 'version'" class="anchor">#</a></h2><p><a href="https://www.npmjs.org/package/ng-zorro-antd" target="_blank" rel="noopener"><img src="https://img.shields.io/npm/v/ng-zorro-antd.svg?style=flat-square" alt="npm package"></a></p>-->
<!--    <h2 id="angular-support"><span>Angular Support</span><a onclick="window.location.hash = 'angular-support'" class="anchor">#</a></h2><p><code>ng-zorro-antd</code> keeps the same major version with <code>@angular/core</code>, now supports Angular <code>^15.0.0</code>.</p>-->
<!--    <h2 id="design-specification"><span>Design Specification</span><a onclick="window.location.hash = 'design-specification'" class="anchor">#</a></h2><p><code>ng-zorro-antd</code> synchronizes design specification with <a href="https://ant.design/docs/spec/introduce" target="_blank" rel="noopener">Ant Design</a> on a regular basis, you can check the <a href="https://github.com/NG-ZORRO/ng-zorro-antd/actions?query=workflow:%22styles-sync%22" target="_blank" rel="noopener">log</a> online.</p>-->
<!--    <h2 id="installation"><span>Installation</span><a onclick="window.location.hash = 'installation'" class="anchor">#</a></h2><p><strong>We recommend using <code>@angular/cli</code> to install</strong>，it not only makes development easier，but also allow you to take advantage of the rich ecosystem of angular packages and tooling.</p>-->
<!--    <pre class="language-bash"><code>$ <span class="token function">ng</span> new PROJECT_NAME-->
<!--$ <span class="token function">cd</span> PROJECT_NAME-->
<!--$ <span class="token function">ng</span> add <span class="token function">ng-zorro-antd</span></code></pre>-->
<!--    <blockquote>-->
<!--      <p>More information about <code>@angular/cli</code> <a href="https://github.com/angular/angular-cli" target="_blank" rel="noopener">here</a>.</p>-->
<!--    </blockquote>-->
<!--    <p>You can also install <code>ng-zorro-antd</code> with npm or yarn</p>-->
<!--    <pre class="language-bash"><code>$ <span class="token function">npm</span> install <span class="token function">ng-zorro-antd</span></code></pre>-->
<!--    <h2 id="companies-using-ng-zorro-antd"><span>Companies using ng-zorro-antd</span><a onclick="window.location.hash = 'companies-using-ng-zorro-antd'" class="anchor">#</a></h2><ul>-->
<!--      <li><a href="https://www.alibaba.com/" target="_blank" rel="noopener">Alibaba</a></li>-->
<!--      <li><a href="https://www.aliyun.com/" target="_blank" rel="noopener">Aliyun</a></li>-->
<!--      <li><a href="https://www.thoughtworks.com/" target="_blank" rel="noopener">ThoughtWorks</a></li>-->
<!--      <li><a href="https://english.cmbchina.com/" target="_blank" rel="noopener">China Merchants Bank</a></li>-->
<!--      <li><a href="https://www.ververica.com/" target="_blank" rel="noopener">Ververica</a></li>-->
<!--      <li><a href="https://flink.apache.org/" target="_blank" rel="noopener">Apache Flink</a></li>-->
<!--      <li><a href="https://zeppelin.apache.org/" target="_blank" rel="noopener">Apache Zeppelin</a></li>-->
<!--      <li><a href="https://submarine.apache.org/" target="_blank" rel="noopener">Apache Submarine</a></li>-->
<!--      <li><a href="https://metron.apache.org/" target="_blank" rel="noopener">Apache Metron</a></li>-->
<!--      <li><a href="https://pag.company/" target="_blank" rel="noopener">Process Automation Group</a></li>-->
<!--      <li><a href="https://www.aisino.com/" target="_blank" rel="noopener">AISINOCO</a></li>-->
<!--      <li><a href="https://www.gongdao.com/" target="_blank" rel="noopener">GongDao</a></li>-->
<!--      <li><a href="https://www.uce.cn/" target="_blank" rel="noopener">UC Express</a></li>-->
<!--      <li><a href="https://qingflow.com/" target="_blank" rel="noopener">Qingflow</a></li>-->
<!--      <li><a href="https://datagrand.com/" target="_blank" rel="noopener">DataGrand</a></li>-->
<!--      <li><a href="https://www.scentbird.com/" target="_blank" rel="noopener">ScentBird</a></li>-->
<!--      <li><a href="https://www.sit.ac.nz/" target="_blank" rel="noopener">Southern Institute of Technology</a></li>-->
<!--      <li><a href="https://hub.hapify.io/" target="_blank" rel="noopener">Hapify (Dynamic boilerplates tool)</a></li>-->
<!--    </ul>-->
<!--    <blockquote>-->
<!--      <p>We list some users here, if your company or product uses ng-zorro-antd, let us know <a href="https://github.com/NG-ZORRO/ng-zorro-antd/issues/1142" target="_blank" rel="noopener">here</a>!</p>-->
<!--    </blockquote>-->
<!--    <h2 id="contributing"><span>Contributing</span><a onclick="window.location.hash = 'contributing'" class="anchor">#</a></h2><p>Please read our <a href="https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/CONTRIBUTING.md" target="_blank" rel="noopener">CONTRIBUTING.md</a> first.</p>-->
<!--    <p>If you&#39;d like to help us improve ng-zorro-antd, just create a <a href="https://github.com/NG-ZORRO/ng-zorro-antd/pulls" target="_blank" rel="noopener">Pull Request</a>. Feel free to report bugs and issues <a href="https://ng.ant.design/issue-helper/#/en" target="_blank" rel="noopener">here</a>.</p>-->
<!--    <blockquote>-->
<!--      <p>If you&#39;re new to posting issues, we ask that you read <a href="https://www.catb.org/~esr/faqs/smart-questions.html" target="_blank" rel="noopener"><em>How To Ask Questions The Smart Way</em></a>(This guide does not provide actual support services for this project!) and <a href="https://github.com/seajs/seajs/issues/545" target="_blank" rel="noopener">How to Ask a Question in Open Source Community</a> and <a href="https://www.chiark.greenend.org.uk/~sgtatham/bugs.html" target="_blank" rel="noopener">How to Report Bugs Effectively</a> prior to posting. Well written bug reports help us help you!</p>-->
<!--    </blockquote>-->
<!--    <h2 id="need-help"><span>Need Help?</span><a onclick="window.location.hash = 'need-help'" class="anchor">#</a></h2><p>For questions on how to use ng-zorro-antd, please post questions to <a href="https://stackoverflow.com/questions/tagged/ng-zorro-antd" target="_blank" rel="noopener"><img alt="Stack Overflow" src="https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-logo.svg?v=2bb144720a66" width="140"></a> using the <code>ng-zorro-antd</code> tag. If you&#39;re not finding what you need on stackoverflow, you can find us on <a href="https://github.com/NG-ZORRO/ng-zorro-antd/discussions" target="_blank" rel="noopener">Discussions · NG-ZORRO/ng-zorro-antd</a> as well.</p>-->
<!--    <p>As always, we encourage experienced users to help those who are not familiar with <code>ng-zorro-antd</code>!</p>-->
<!--  </section>-->
</article>
