.home-center{
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 100% !important;
  max-width: 100%;
  margin-left: 0;
  flex: 100%;
}

@media (max-width: 767px) {
  .main-menu {
    display: none;
  }
}
