@import "flickity/css/flickity.css";
@import "assets/loader.css";
//@import "assets/light.css";
//@import "assets/dark.css";
//@import "prismjs/themes/prism-tomorrow.css";

//:root {
//  --account-center-position-top: 55px;
//}
[data-theme="dark"] {
  .preloader:before, .preloader:after { position: absolute; left: 0; height: 51%; width: 100%; transition: all 0.4s ease; background: #1A1D26; content: ''; }

}



//[data-theme="light"] {
//
//}
//
