@import '../../../assets/styles/variables.scss';


.account-center-container {
  padding: 5px;
  font-family: var(--b-ee-font-family-normal, var(--font-family-normal));
  width: 350px;
  z-index: 8;
}

@media all and (max-width: 740px) {
  .account-center-container {
    //padding: 16px;
    //max-width: 350px;
    //height: auto;
    //max-width: 100%;
    //width: 100%;
  }
}
